esphome:
  name: barn-thermometer
  friendly_name: Barn Thermometer
  platformio_options:
    board_build.flash_mode: dio
  on_boot:
    priority: -100
    then:
      - delay: 30s
      - if:
          condition:
            switch.is_off: maintenance_mode
          then:
            - deep_sleep.enter: deep_sleep_control
          else:
            - logger.log: "Maintenance Mode is ON. Staying awake..."

esp32:
  board: seeed_xiao_esp32c3
  variant: ESP32C3
  framework:
    type: arduino

i2c:
  sda: GPIO6
  scl: GPIO7
  scan: true

# Enable logging
logger:

# Enable Home Assistant API
api:
  encryption:
    key: ""
  reboot_timeout: 0s

ota:
  - platform: esphome
    password: ""

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  fast_connect: true
  reboot_timeout: 0s

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Barn-Thermometer"
    password: ""

captive_portal:

switch:
  - platform: template
    name: "XIAO Maintenance Mode"
    id: maintenance_mode
    optimistic: true
    restore_mode: RESTORE_DEFAULT_OFF
    entity_category: config
    icon: "mdi:wrench"

deep_sleep:
  id: deep_sleep_control
  sleep_duration: 10min

sensor:
  - platform: dht
    pin:
      number: GPIO3
    model: AUTO_DETECT
    temperature:
      name: "Barn Temperature"
    humidity:
      name: "Barn Humidity"
    update_interval: 5s

  - platform: bmp280_i2c
    temperature:
      name: "BMP280 Temperature"
    pressure:
      name: "BMP280 Pressure"
    address: 0x76
    update_interval: 5s